@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
}
a{
    color: aqua;
    text-decoration: none;
}
body{
    font-family: montserrat, sans-serif;
}
header{
    width: 100vw;
    height: 10vh;
    background-color: #191c32;
    color: aliceblue;
    padding: 40px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.nav-bar{
    color: aqua;
}

h1{
    color: aliceblue;
}
.caja{
    display: flex;
    height: 90vh;
    background-color: #191c32;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.cajados{
    display: flex;
    width: 97vh;
    height: 80vh;
    flex-direction: row;
    align-items: center;

}
.cajatres{
    display: flex;
    height: 50vh;
    margin: 10px;

}
.cajacuatro{
    display: flex;
    height: 30vh;
    justify-content: center;
    flex-direction: column;
}

.letra{
    color: aliceblue;
}
span{
    color: aqua;
}
.download-cv{
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 69);
}
.caja img{
    border: 7px solid aqua;
}
.menu.a{
    color: aliceblue;
}
.brand{
    margin-top: -10px;
}
.brand span{
    color: aqua;
}
.nav-list{
    display: flex;
    gap: 20px;
}
.menu.a:hover{
    color: aqua;
}

/*------------------------------------SOBRE MI--------------------------------------*/

.sobremi{
    display: flex;
    height: 100vh;
    background-color:#191c32;
    flex-direction: column;
    width: 50%;
}
.sobremi, img{
    display: flex;
    width: 700px;
    height: 800px;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}
.letra{
    color: white;
}

.divisor{
   display: flex;
   flex-direction: column;
   width: 60%;
   height: 20px;
   margin-top: 250px;
}
.container{
    display: flex;
    width: 100%;
    background-color: #191c32;
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: auto;
    height: 150px;
    background-color: aqua;
    justify-content: center;
  }

.footer-content h2 {
    font-size: 3em;
  }

.footer-content h5 {
    font-size: 1.5em;
    text-align: center;
  }

.sotial-networks {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}

.sotial-networks i {
    font-size: 1.5em;
}

@media screen and (min-width:375px) and (max-width:400px) {
    header {
        width: 100vh;
        justify-content: center;
    }

}